{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": ["prettier", "react"],
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx"]
    }]
  }
}
