/*
    Color palette from: https://colorhunt.co/palette/154144
    primary: #464159
    secondary: #6c7b95
    tertiary: #8bbabb
    base: #c7f0db
    font-color: #393e46
*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', 'sans-serif';
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}

img {
    max-width: 100%;
    width: 100%;
}

figure {
    margin: 0;
}

a {
    text-decoration: none;
}

.button {
    padding: .75em;
    justify-content: center;
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;
    color: #363636;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    transition: all .2s ease;
}

.button.is-primary {
    border-color: #363636;
}

.button.is-primary:hover {
    color: white;
    background-color: #363636;
}

.text-center {
    text-align: center;
}
