/*
    Color palette from: https://colorhunt.co/palette/154144
    primary: #464159
    secondary: #6c7b95
    tertiary: #8bbabb
    base: #c7f0db
    font-color: #393e46
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', 'sans-serif';
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
    color: #4a4a4a;
    font-size: 62.5%;
    font-weight: 400;
    line-height: 1.5;
}

img {
    max-width: 100%;
    width: 100%;
}

figure {
    margin: 0;
}

a {
    text-decoration: none;
}

.link:not(.button) {
    background-color: #34314D;
    color: white;
}

.link {
    background-color: #34314D;
    color: white;
}

.link.is-inverted {
    background-color: #F6B642;
    color: #34314D;
}

.link:not(.button):hover {
    text-decoration: underline;
}

.mark-secondary {
    color: #34314D;
    background-color: #F6B642;
}

.mark-white {
    color: #34314D;
    background-color: white;
}

.text-primary {
    color: #34314D;
}

.text-secondary {
    color: #F6B642;
}

.button {
    display: inline-block;
    padding: .75em;
    justify-content: center;
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;
    color: #34314D;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    transition: all .2s ease;
}

.button.is-primary {
    border-color: #34314D;
}

.button.is-primary:hover {
    color: white;
    background-color: #34314D;
}

.button.is-secondary {
    border-color: #F6B642;
    color: #F6B642;
}

.button.is-secondary:hover {
    color: #34314D;
    background-color: #F6B642;
}

.text-center {
    text-align: center;
}
